{
	"log_level": "info",
	"smtp": "smtp.json",
	"imap": "imap.json",
	"cmd_srv_addr": "127.0.0.1:1100",
	"allow-insecure-auth": false,
	"tls-key-path": "key.pem",
	"tls-cert-path": "certificate.pem",
	"stamp_db_path": "."
}