{
	"srv_addr": ":993",
	"srv_domain": "localhost",
	"remote_conf": {
		"99927800@qq.com": {
			"ca_files": "rootCAs/qq.com.cer",
			"ca_domain": "mail.qq.com",
			"allow_not_secure": false,
			"remote_srv_name": "imap.qq.com",
			"remote_srv_port": 993
		},
		"ribencong@126.com": {
			"ca_files": "rootCAs/126.com.cer",
			"ca_domain": "imap.126.com",
			"allow_not_secure": false,
			"remote_srv_name": "imap.126.com",
			"remote_srv_port": 993
		},
		"ribencong@163.com": {
			"ca_files": "rootCAs/163.com.cer",
			"ca_domain": "imap.163.com",
			"allow_not_secure": false,
			"remote_srv_name": "imap.163.com",
			"remote_srv_port": 993
		}
	}
}