{
	"srv_addr": ":1025",
	"srv_domain": "localhost",
	"ca_files": "rootCAs/163.com.cer;rootCAs/126.com.cer",
	"remote_srv_name": "smtp.163.com",
	"remote_srv_port": 465,
	"max_message_bytes": 1048576,
	"read_time_out": 10,
	"write_time_out": 10,
	"max_recipients": 50
}